
.top {
  margin-top: 80px;
}
body {
  font-family: "Slackey", cursive;
  background-image: url(/images/sponge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}
h1 {
  font-family: "Slackey", cursive;
  color: white;
  font-size: 9em;
  text-align: center;
  margin: 0;
}
h3 {
  font-family: "Slackey", cursive;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

a:link,
a:visited {
  font-family: "Slackey", cursive;
  background-color: #ffffff;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
}

a:hover,
a:active {
  background-color: rgb(26, 243, 207);
}
.buttons {
  max-width: 1280px;
  margin: auto;
}
.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
img {
  width: 15px;
  max-width: 100%;
}
