@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

body {
  margin-top: 25px;
  font-family: arial, tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
  direction: ltr;
  background: white;
}
h1, p {
  text-align: center;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}
form {
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}
form input {
  float: left;
  clear: both;
}
form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

form input[type="number"]:focus {
  border-color: cornflowerblue;
}
button {
  padding: 15px 50px;
  width: auto;
  background: #1abc9c;
  border: none;
  color: white;
  cursor: pointer;
  float: right;
  clear: right;
  border-radius: 20px;

  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
button:hover, a:hover {
  opacity: 0.8;
}

button:active, a:active {
  opacity: 0.4;
}
a {
  padding: 15px 50px;
  width: auto;
  background: #1abc9c;
  border: none;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
