<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <link rel="stylesheet" href="css/404.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="top">
    <h1>404</h1>
    <h3>We are sorry, but the page you requested was not found</h3>
  </div>
    <div class="buttons">
      <div class="buttons-wrapper">
         {{>navbar}}
        <a href="mailto:benaskalvinas@gmail.com" target="_blank">Contact us</a>
      </div>
      <div class="buttons-wrapper" >
        <a href="https://www.facebook.com/benas.kalvinas/">
        <img src="/images/facebook-fill.svg" alt="facebook">
        </a>
        <a href="https://open.spotify.com/user/11123822915/">
          <img src="/images/spotify.svg" alt="spotify">
          </a>
          <a href="https://www.twitter.com/lostinrave">
            <img src="/images/twitter-bird.svg" alt="twitter">
            </a>
            <a href="https://www.twitch.tv/lostinrave">
              <img src="/images/twitch.svg" alt="twitch">
              </a>
      </div>
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <h2>Error (404)</h2>
    <h1>Page not found</h1>
    <h3><a href="/">Go back to main page</a></h3>
</body>
</html> -->